<launch>
  <param name="robot_description" textfile="$(find lqc_robot_description)/urdf/simple_robot.urdf"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lqc_robot_description)/config/lqc.rviz"/>
</launch>